# Application Master ENV
spark.yarn.appMasterEnv.YARN_CONTAINER_RUNTIME_TYPE=docker
spark.yarn.appMasterEnv.YARN_CONTAINER_RUNTIME_DOCKER_IMAGE={{ vars.SPARK_JOB_DOCKER_IMAGE }}

# Executor ENV
spark.executorEnv.YARN_CONTAINER_RUNTIME_TYPE=docker
spark.executorEnv.YARN_CONTAINER_RUNTIME_DOCKER_IMAGE={{ vars.SPARK_JOB_DOCKER_IMAGE }}
spark.executorEnv.DOTENV_PATH={{ vars.SPARK_JOB_DOTENV_FILE }}

# Spark Properties
spark.pyspark.python=/opt/mambaforge/bin/python
spark.pyspark.driver.python=/opt/mambaforge/bin/python
spark.driver.extraClassPath=/opt/spark/jars/*
spark.executor.extraClassPath=/opt/spark/jars/*
